USE [DemoPractice]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 26.02.2024 17:32:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[MaterialTypeId] [int] NOT NULL,
	[PackageCount] [int] NOT NULL,
	[MeasurementTypeId] [int] NOT NULL,
	[TotalCount] [int] NOT NULL,
	[MinimumBalance] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 26.02.2024 17:32:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[Id] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeasurementType]    Script Date: 26.02.2024 17:32:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeasurementType](
	[Id] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 26.02.2024 17:32:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Articul] [nvarchar](50) NOT NULL,
	[MinimalCount] [decimal](10, 2) NOT NULL,
	[ProductTypeId] [int] NOT NULL,
	[Image] [varbinary](max) NULL,
	[WorkerCount] [int] NOT NULL,
	[WorkshopId] [int] NOT NULL,
 CONSTRAINT [PK__Product__3214EC070FCCD779] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 26.02.2024 17:32:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[Id] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipe]    Script Date: 26.02.2024 17:32:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipe](
	[Id] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[MaterialId] [int] NOT NULL,
	[MaterialCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workshop]    Script Date: 26.02.2024 17:32:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workshop](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Material] ([Id], [Name], [MaterialTypeId], [PackageCount], [MeasurementTypeId], [TotalCount], [MinimumBalance], [Price]) VALUES (1, N'Спрессованный материал серый 0x2', 1, 5, 1, 140, 49, CAST(33128.00 AS Decimal(10, 2)))
INSERT [dbo].[Material] ([Id], [Name], [MaterialTypeId], [PackageCount], [MeasurementTypeId], [TotalCount], [MinimumBalance], [Price]) VALUES (2, N'Рулон бумаги зеленый 1x1', 2, 3, 1, 634, 36, CAST(26841.00 AS Decimal(10, 2)))
INSERT [dbo].[Material] ([Id], [Name], [MaterialTypeId], [PackageCount], [MeasurementTypeId], [TotalCount], [MinimumBalance], [Price]) VALUES (3, N'Спрессованный материал розовый 2x1', 1, 8, 1, 636, 21, CAST(52606.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[MaterialType] ([Id], [Title]) VALUES (1, N'Пресс')
INSERT [dbo].[MaterialType] ([Id], [Title]) VALUES (2, N'Рулон')
INSERT [dbo].[MaterialType] ([Id], [Title]) VALUES (3, N'Гранулы')
GO
INSERT [dbo].[MeasurementType] ([Id], [Title]) VALUES (1, N'м')
INSERT [dbo].[MeasurementType] ([Id], [Title]) VALUES (2, N'л')
INSERT [dbo].[MeasurementType] ([Id], [Title]) VALUES (3, N'кг')
GO
INSERT [dbo].[Product] ([Id], [Name], [Articul], [MinimalCount], [ProductTypeId], [Image], [WorkerCount], [WorkshopId]) VALUES (2, N'Набор 24М Дыня', N'337632', CAST(11471.00 AS Decimal(10, 2)), 2, NULL, 5, 5)
INSERT [dbo].[Product] ([Id], [Name], [Articul], [MinimalCount], [ProductTypeId], [Image], [WorkerCount], [WorkshopId]) VALUES (3, N'Набор 9М Бриз', N'259548', CAST(2317.00 AS Decimal(10, 2)), 2, NULL, 4, 5)
GO
INSERT [dbo].[ProductType] ([Id], [Title]) VALUES (1, N'Три слоя')
INSERT [dbo].[ProductType] ([Id], [Title]) VALUES (2, N'Два слоя')
INSERT [dbo].[ProductType] ([Id], [Title]) VALUES (3, N'Детская')
GO
INSERT [dbo].[Receipe] ([Id], [ProductId], [MaterialId], [MaterialCount]) VALUES (1, 63, 24, 20)
INSERT [dbo].[Receipe] ([Id], [ProductId], [MaterialId], [MaterialCount]) VALUES (2, 71, 6, 1)
INSERT [dbo].[Receipe] ([Id], [ProductId], [MaterialId], [MaterialCount]) VALUES (3, 37, 6, 4)
GO
INSERT [dbo].[Workshop] ([Id], [Name]) VALUES (1, N'Цех №1')
INSERT [dbo].[Workshop] ([Id], [Name]) VALUES (2, N'Цех №2')
INSERT [dbo].[Workshop] ([Id], [Name]) VALUES (3, N'Цех №3')
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD FOREIGN KEY([MaterialTypeId])
REFERENCES [dbo].[MaterialType] ([Id])
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD FOREIGN KEY([MeasurementTypeId])
REFERENCES [dbo].[MeasurementType] ([Id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__Product__3B75D760] FOREIGN KEY([ProductTypeId])
REFERENCES [dbo].[ProductType] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__Product__3B75D760]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Workshop] FOREIGN KEY([WorkshopId])
REFERENCES [dbo].[Workshop] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Workshop]
GO
ALTER TABLE [dbo].[Receipe]  WITH CHECK ADD FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[Receipe]  WITH CHECK ADD  CONSTRAINT [FK__Receipe__Product__3E52440B] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Receipe] CHECK CONSTRAINT [FK__Receipe__Product__3E52440B]
GO
